@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
/*  background-image: linear-gradient(to right bottom, #e0f8f9, #e4f7f9, #e8f6f8, #ebf6f7, #eff5f6);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ECEFF1;
}

header {
  text-align: center;
  color: #fff;

// Login panel
  .navbar-login-panel {
    /*background-image: url("../../public/images/pattern.jpg");*/
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px -1px 10px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 10px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 10px 6px rgba(0, 0, 0, 0.75);
    padding: 0;

    a {
      text-decoration: none;
    }

    .navbar-nav {
      .nav-item {
        a, span {
          color: #CDCDCD;
          border-bottom: 1px solid black;
        }

        a:after {
          display: block;
          content: '';
          border-bottom: solid 0.5px #DAC978;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }

        a:hover:after {
          color: #fff;
          transform: scaleX(1);
        }
      }
    }
  }
// Lower navbar
  #lower-navbar {
    background-image: radial-gradient(circle, #2f2f2f, #252525, #1b1b1b, #101010, #000000);

    .navbar-nav {
      .nav-item {
        a, span {
        }

        a:after {
          display: block;
          content: '';
          border-bottom: solid 0.5px #DAC978;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }

        a:hover:after {
          color: #fff;
          transform: scaleX(1);
        }
      }
    }
  }
// Logo
  .header-text {
    color: white;
    font-size: 1.5rem;
  }

  .header-logo {
    color: white;
    font-size: 2rem;
  }

  .navbar-brand {
    color: #CDCDCD;
  }

  .navbar-brand:after {
    display: block;
    content: '';
    border-bottom: solid 2.5px #DAC978;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  .navbar-brand:hover:after {
    color: #fff;
    transform: scaleX(1);
  }

//Navbar buttons
  .navbar-buttons-panel {
    font-size: 1.1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(30px);
  }

}
// Login / register panel
.info-side-panel {
  min-height: 200px;
  color: #fff;
  border-radius: 7px;
  background-image: linear-gradient(to right top, #051937, #052147, #062958, #09316a, #0d397c);
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.75);
  font-size: 2rem;

  display: flex;
  align-items:center;
  justify-content:center;

  text-align: center;
  font-style: italic;

}
.form-side-panel {
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.75);
  border-radius: 7px;
}

// Blog wild cards
.container-macy {
  .single-post {
    background-color: #fff;
    overflow: hidden;
    border-radius: 7px;
    transition: all 350ms;
    font-family: 'Source Serif Pro', serif;
    text-align: justify;
  }

  .single-post:hover {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
    z-index: 5;
    transition: all 350ms;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }

  .teaser {
    color: black;
  }

  .topic {
    color: #E56F2C;
  }
}
.new-post-form, .single-product {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  background-color: white;
}

.ck-editor__editable {
  min-height: 300px;
}

.action-button {
  color: black;
  font-size: 1.15rem;
}

.action-button:hover {
  color: #757575;
  cursor: pointer;
}

// Products list

.product {
  a {
    text-decoration: none;
    color: black;
  }

  .img-product {
    transition: transform 250ms ease-in-out;
  }

  .img-product:hover {
    transform: scale(1.2);
    z-index: 100;
    transition: transform 250ms ease-in-out;
  }
}

.table-edit-list {
  td, th {
    vertical-align: middle;
  }
}


